/public/hot
/public/storage
/public/js
/public/css
/public/fonts
/public/plugins

/public/mix-manifest.json
/public/mix.js.map

/public/google*

/vendor
/storage/*.key
/node_modules

/.vscode
/.vagrant

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

.env
.env.backup
.phpunit.result.cache

*.sql
*.gz