/public/hot
/public/storage
/public/images
/public/img
/public/js
/public/css
/public/fonts
/public/plugins

/public/mix-manifest.json

/public/google*

/vendor
/storage/*.key
/node_modules

/.vscode
/.vagrant

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

.env
.env.backup
.phpunit.result.cache

composer.lock
package-lock.json

*.sql
*.gz