header {
	position: relative;
	padding-top: 5rem !important;
	// padding-bottom: 1rem !important;
	
	h1 {
		font-family: 'Patua One', cursive;
		letter-spacing: -2px;
	}

	nav > a {
		font-size: 2.0rem;
		padding: .25rem 0;
		font-weight: 700;
		color: theme('colors.grey.lighter');
		border-bottom: .25rem solid transparent;
	}

	nav > a:hover,
	nav > a:focus {
		color: #333;
		border-bottom-color: #333;
		text-decoration: none;
	}

	nav > a + a {
		margin-left: 1rem;
	}

	nav > a.active {
		color: theme('colors.grey.default');
		border-bottom-color: theme('colors.grey.default');
	}
}

@media (max-width: 48em) {
	header {
		text-align: center;

		padding-top: inherit !important;
		padding-bottom: inherit !important;

		h1 {
			float: none;
		}

		nav > a:hover > span,
		nav > a.active > span {
			display: inline-block;
		}
	}
}