.post-meta {
	line-height: 1;
	font-size: 14px;

	&:hover {
		background-color: #f1f3f5;
		border-color: transparent;
		border-radius: 10px;
	}

	.border-top {
		border-top: 1px solid #bfbfbf;
	}

	.post-left-part > time {
		text-transform: uppercase;
		font-weight: bold;
	}

	.post-title {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
		font-style: normal;
		line-height: 1.2;
		font-size: 20px !important; 

		a {
			text-decoration: none;
			border-bottom: none;
		}
	}
}

.post-standalone {
	.content {
		@for $index from 1 through 6 {
			h#{$index} {
				text-indent: 0.5em;
				margin: 0.5rem auto;
			}
		}

		blockquote {
			background: white;
			padding: 20px 30px 20px 30px;
			margin: 10px auto;
			border: solid 2px;
			box-shadow: 15px 15px 0 0 #f1f3f5;
		}

		p {
			line-height: 1.7em;
			margin: 0.5rem auto;
			text-indent: 1.5em;
			text-align: justify;
		}
	}
}

@media (max-width: 48em) {
	.post-meta {
		.post-left-part {
			padding-top: 1rem;
			padding-bottom: 0.5rem;
			margin: 0;
		}

		.post-content {
			padding-top: 0;
			border-top: none;
		}
	}
}