@import "resources/assets/css/helpers";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.tag {
	display:inline-block;
	font-size:90%;
	position:relative;
	padding:0.3em 0.6em 0.4em
}

.tag [data-role="remove"] {
	cursor: pointer;
}

.tag [data-role="remove"]::after {
	content: "×";
	padding: 0 2px;
	vertical-align: text-top;
	font-weight: 700;
    line-height: 1;
    font-size: 21px;
}