@import "resources/assets/css/helpers";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

.tag {
	display:inline-block;
	font-size:80%;
	position:relative
}

.tag [data-role="remove"] {
	cursor: pointer;
}

.tag [data-role="remove"]::after {
	content: "x";
	padding: 0 2px;
}