@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&subset=latin,cyrillic,latin-ext);
@import url(//fonts.googleapis.com/css?family=Patua+One);

$icon-font-path: "../../plugins/bootstrap/fonts/";
$fa-font-path: "../../plugins/fontawesome/fonts/";

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/fontawesome/scss/font-awesome.scss";


html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 145%;
	color: #222;
	background-color: #fff;
}
a {
	color: #00526e;
}
a:hover, a:focus {
	color: #222222;
	text-decoration: none;
}
hr {
	border-top: 1px solid #dddddd;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-weight: 300;
	color: #404040;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
	color: #999999;
}

pre {
	font-family: Droid Sans Mono, Courier New, Lucida Console, Bitstream Vera Sans Mono, monospace; 
	font-size: 12px;
	color: #000;
    line-height: 17.6px;
    overflow-x: auto;
    white-space: pre;
    word-break: inherit;
    word-wrap: inherit;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #eee !important;
    border-radius: 2px;
}

pre > code {
	border: none !important;
}

// pre span.N{ color:#ea0; } /* Numbers */
pre span.N{ color:#099; } /* Numbers */
// pre span.S{ color:#080; } /* Strings */
pre span.S{ color:#d14; } /* Strings */
pre span.C{ color:#888; } /* Comments */
pre span.K{ color:#000; font-weight: 700 } /* Keywords */
pre span.V{ color:#808; } /* Vars */
pre span.D{ color:#a00; } /* Defines */
pre span.P {color:#9F9D65} /* Punctuations */
pre span.err { color: #0086B3} /* Errors */

blockquote {
	background-color:#f6f6f6
}

code {
	padding: 1px 5px;
    white-space: pre-wrap;
    background-color: #eff0f1;
    border-radius:0;
    color: #242729;
    border: 1px solid #ccc
}

/* ----------- Main ----------- */

.container {
	max-width: 810px;
}
.container .back-to-top {
	position: fixed;
	bottom: 0;
	padding: 0px 15px;
	background: rgba(209, 209, 209, 0.48);
	color: #424242;
	font-size: 2em;
	display: none;
	opacity: 0.2;
	height: 100%;
	left: 0px;
}

.container .back-to-top:hover {
	opacity: 0.4;
}

mark {
	background-color: #eee;
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
	padding: 1px 5px;
	white-space: pre-wrap;
	font-size: 13px;
}

/* ----------- Site header ----------- */

header.site-head {
	padding-top: 20px;
	text-align: center;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
	background-color: #ffffff;
}
header.page-head {
	padding-top: 20px;
	margin-bottom: 0;
}
header.site-head .menu {
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 10px;
	margin-top: 10px;
}
header.site-head .menu .dropdown-menu {
	margin: 0 !important;
	border-radius: 0 !important;
}
header.site-head .menu .btn {
	border-radius: 0 !important;
}

header.site-head .menu a {
	color: #222222
}

header.site-head .menu .btn-menu {
	background: #FFF;
	padding: 5px 10px;
	font-size: 1.2em;
}
header.site-head .menu .btn-menu:hover {
	background: #FFF;
	
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
header.site-head .menu ul {
	border: none;
	box-shadow: none;
	background: #FAFAFA;
}
header.site-head .menu li a:hover {
	background: #F5F5F5;
}
header.site-head .menu.open .btn-menu,
header.site-head .menu .btn-menu:active {
	background: #FAFAFA;
	-webkit-box-shadow: none;
	box-shadow: none;
}

header.site-head .blog-title {
	margin-top: 0px;
	font-family: 'Patua One', cursive;
	font-weight: 700;
}
header.site-head .blog-title a {
	color: #222222;
}
header.site-head .blog-title a:hover {
	opacity: 0.8;
}
header.site-head .blog-description {
	font-size: 1.4em;
	font-weight: 400;
	margin-top: 10px;
}
header.site-head .blog-logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
	background-color: #ffffff;
	display: inline-block;
}

.dropdown-menu {
	font-size: 12px;
	margin-top: 0;
	padding: 0;
}
.dropdown-menu > li > a {
	padding: 12px 15px;
}
.dropdown-header {
	font-size: 9px;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
}

/* ----------- Posts ----------- */

#no-posts {
	text-align: center;
	margin-bottom: 10px;
	padding: 5px 0;
	font-size: 1.89em;
}
article.post {
	font-size: 1em;
	font-size: 0.89em;
}
article.post header.post-header {
	cursor: pointer;
	padding: 10px;
	padding-bottom: 7px;
	border-top: 1px solid #EFEFEF;
	font-weight: 300;
}
article.post header.post-header:hover,
article.post.open header.post-header,
article.post:hover header.post-header .post-meta,
article.post.open header.post-header .post-meta {
	background: #FAFAFA;
}
article.post.open header.post-header {
	color: #AAAAAA;
}
article.post header.post-header .icon {
	display: inline-block;
	width: 18px;
	font-size: 14px;
	max-height: 17px;
	overflow: hidden;
	margin-top: -1px;
}
article.post header.post-header .post-title,
article.post header.post-header .post-meta {
	display: inline-block;
}
article.post header.post-header .post-title {
	font-weight: 400;
	padding: 0 5px;
	max-width: 80%;
	overflow-x: hidden;
	white-space: pre;
	text-overflow: ellipsis;
	position: absolute;
}
article.post header.post-header .post-meta {
	position: absolute;
	color: #B4B4B4;
	background: #FFF;
	right: 0;
	padding: 0px;
	padding-left: 5px;
	margin-right: 25px;
}
article.post header.post-header .post-meta .post-comment-count {
	margin-right: 10px;
	color: #B4B4B4;
}
article.post header.post-header .post-meta .post-comment-count:hover {
	color: #333333;
}
article.post section.post-content {
	padding: 0 5px;
	font-size: 1.1em;
	max-width: 100%;
	overflow: hidden;
}
article.post section.post-content p.text-indent {
	text-indent: 20px;
}
article.post section.post-content span.label-lang {
	vertical-align: middle;
	margin-right: 5px;
	background-color: #e7e7e7;
	color: #333333;
	padding: 5px;
}
article.post:not(.post-standalone) section.post-content {
	display: none;
}
article.post.post-standalone {
	border-top: 1px solid #efefef
}
article.post section.post-content .title {
	color: #222222;
}
article.post section.post-content a.title:hover {
	color: #B4B4B4;
}
article.post section.post-content .title h2 {
	margin-top: 10px;
	font-weight: 400;
}
article.post section.post-content .post-tags {
	margin-left: -5px;
}
article.post section.post-content .post-tags li time {
	font-size: 0.9em;
}
article.post section.post-content .post-tags,
article.post section.post-content .post-tags a {
	margin-top: 10px;
	font-size: 12px;
	color: #B4B4B4;
}
article.post-standalone section.post-content .post-tags,
article.post-standalone section.post-content .post-tags a {
	margin-top: -5px !important;
}
article.post section.post-content .post-tags a:hover {
	color: #222222;
}
article.post section.post-content .image {
	margin: 10px 0px;
	text-align: center;
}
article.post section.post-content .image:hover {
	opacity: 0.9;
}
article.post section.post-content .image img {
	max-width: 100%;
}
article.post section.post-content a[title="source"] {
	display: block;
	margin-top: 10px;
	padding: 10px;
	background: #F7F7F7;
	font-size: 0.9em;
}
article.post section.post-content a[title="source"]:before {
	content: 'Источник: ';
}
article.post footer.post-footer section.share {
	font-size: 2.5em;
	text-align: center;
	margin-bottom: 10px;
}
article.post footer.post-footer section.share a {
	color: #B4B4B4;
}
article.post footer.post-footer section.share a.twitter:hover {
	color: #5DB5DE;
}
article.post footer.post-footer section.share a.facebook:hover {
	color: #6D8BC9;
}
article.post footer.post-footer section.share a.google-plus:hover {
	color: #D34836;
}
article.post footer.post-footer section.author {
	border-left: 2px solid #B4B4B4;
	background: #F7F7F7;
	padding: 20px 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	min-height: 90px;
}
article.post footer.post-footer section.author .image {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
	background-color: #ffffff;
	display: inline-block;
}
article.post footer.post-footer section.author .title {
	font-size: 1em;
	font-weight: 300;
	color: #777;
}
article.post footer.post-footer section.author .name {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 400;
}
article.post footer.post-footer section.author .bio {
	margin-bottom: 5px;
	font-weight: 300;
}
article.post footer.post-footer section.author .meta {
	float: right;
}
article.post footer.post-footer section.comments {
	min-height: 200px;
	padding: 5px;
	padding-top: 30px;
}

footer .poweredby a {
	vertical-align: middle;
}

/**
 * Pagination
 */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 21px 0;
  border-radius: 0;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.4;
  text-decoration: none;
  color: #008cba;
  background-color: transparent;
  border: 1px solid transparent;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #008cba;
  background-color: #eeeeee;
  border-color: transparent;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #008cba;
  border-color: transparent;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: transparent;
  cursor: not-allowed;
}
.pagination > li > a,
.pagination > li > span {
  padding: 8px 12px;
  font-size: 12px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

/**
 * Pagination
 */
.pagination {
    display: block;
    height: 20px;
}
.pagination .page-number {
    display: none;
}
.pagination a {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 900;
    color: #939393;
}
.pagination a.older-posts {
    float: right;
}
.pagination a.newer-posts {
    float: left;
}

/* ----------- Footer ----------- */
footer.site-footer {
	text-align: center;
	font-size: 0.8em;
	opacity: 0.5;
	margin-bottom: 20px;
}

abbr[title] {
	border-bottom:none
}