@charset "UTF-8";

@import '../../fontello/css/fontello';

@import 'bootstrap';

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

.dropdown-in-group {
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

// Example usage
.mb-3-mobile {
    @include media-breakpoint-down(md) {
        // margin-bottom: ;
    }
}